<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ABOUT</title>
  </head>
  <body>
    {{> header}}2
    <h1>This is the about page.</h1>
    {{> footer}}
  </body>
</html> -->
